/* Styles for Faculty Profile */
body {
  font-family: "Chaparral W01", Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 300;
  min-width: 300px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.img_wrapper {
  width: 13rem;
  margin-right: 1.5em;
}

.sectiontitle {
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  color: #666666;
  padding-top: .4em;
  margin: 24px 0 12px;
}

.bioimage {
  height: auto;
  width: 100%;
}

.main_field_wrapper {
  font-size: 1.25em;
} 

.flex_box {
  display: flex;
  flex-wrap: wrap;
}

.pf_field_wrapper > p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Trade Gothic W01", Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #383838;
}
.publicationtitle {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 1em;
}

.biotitle {
  color: #9D1535;
}

a {
  color: #9D1535;
}

li {
  margin: 0 0 10px 0;   
  padding-left: 0.5em;
}

ul, ol {
  margin-left: -0.8em;
}

p {
  line-height: 25px;
}

hr.top-bar {
  width: 100%;
  height: 3px;
  background: #9D1535;
  border: none;
  clear: both;
  margin: 0.5em 0 0.5em 0;
  padding: 0;
}

.title > p {
  padding: 0 0 40px;
  font-size: 1.3em; 
  margin: 0 0 0 0;
}

@media (max-width: 979px) {
  hr.top-bar {
    width: 100%;
    height: 3px;
    background: #9D1535;
    border: none;
    clear: both;
    margin: 3em 0 0.5em 0;
    padding: 0;
  }
}

@media (min-width: 551px) {
  .bioimage {
    margin-right: 1.5em;
    width: 13em;
  }
  .flex_box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .pf_field_wrapper {
    flex-grow: 1;
  }
}

@media (max-width: 549px) {
  .bioimage{
    margin-bottom: .9em;
  }
}
